@use "shared";

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--mosni-surface-body);
  color: var(--mosni-white);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

@media (max-width: shared.$bp-narrow) {
  body {
    font-size: 15px;
  }
}

a {
  color: var(--mosni-purple-light);
  text-decoration: none;

  &:focus {
    outline: none;
  }

  @include shared.focus-ring;
}
a:hover,
a:focus {
  color: var(--mosni-purple);
  text-decoration: underline;
}

.purple {
  color: var(--mosni-purple);
}

h1,
h2,
h3,
h4 {
  color: var(--mosni-purple);
}

mosni-menu-item:not(:defined),
mosni-toast:not(:defined) {
  display: none;
}
